@*@using SICARO.WEB.Models
    @{
        ViewBag.Title = "Index";
        var usuario = SesionUsuario.Usuario;
    }
    @if (@usuario != null)
    {*@

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="form-group">
                <h1 class="text-center">Respuestas</h1>
            </div>
        </div>

        <div id="VisualizarTest">
        </div>

        @*<div class="row text-center">
                <input type="button" class="btn btn-default" value="Salir" />
            </div>*@

        <input type="hidden" id="iIdCapacitacion" value="@ViewBag.Capacitacion" />
    </div>
    <script src="~/Scripts/JsTestRespuesta/TestRespuesta.js"></script>

</body>
</html>




@*}
    else
    {
        Html.RenderPartial("~/Views/Utilitarios/Desconeccion.cshtml");
    }*@
