
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/JSSICARO/Personal.js"></script>

<div id="Personal">


    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <h1 class="text-center">Personal</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <div class="form-group">
                <button type="button" class="btn btn-success col-sm-12" v-on:click="Nuevo()">Nuevo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="tbTabla" class="display">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Telefono</th>
                        <th>Area</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    @*Moda*@
    <div class="modal fade" id="ModalMantenimiento"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Personal</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtNombre" class="control-label">Nombre</label>
                                    <input type="text" id="txtNombre" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtApellidoPaterno" class="control-label">Apellido Paterno</label>
                                    <input type="text" id="txtApellidoPaterno" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtApellidoMaterno" class="control-label">Apellido Materno</label>
                                    <input type="text" id="txtApellidoMaterno" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                        </div>

                        @{Html.RenderPartial("~/Views/Utilitarios/Documentos.cshtml");}

                        @{Html.RenderPartial("~/Views/Utilitarios/Ubigeo.cshtml");}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtDireccion">Direccion</label>
                                    <input type="text" id="txtDireccion" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <label for="cboRol">Rol</label>
                                    <select id="cboRol" class="form-control btnGuardarModal ">
                                        <option value="0">Seleccione</option>
                                        <option v-for="lista in dRol" v-bind:value="lista.Id"> {{ lista.Nombre }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txttelefono" class="control-label">Telefono</label>
                                    <input type="text" id="txttelefono" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="dfecha" class="control-label">Fecha Nac.</label>
                                    <div class='input-group date' id='dfecha' data-date-format="dd/mm/yyyy" data-link-format="yyyy-mm-dd">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cboArea" class="control-label">Area</label>
                                    <select id="cboArea" class="form-control btnGuardarModal ">
                                        <option value="0">Seleccione</option>
                                        <option v-for="lista in dArea" v-bind:value="lista.co_codigo"> {{ lista.de_tabla }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtEmail" class="control-label">Email</label>
                                    <input type="text" id="txtEmail" class="form-control btnGuardarModal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" v-on:click="Guardar" id="btnGuardarModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="eliminarModal"  data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header FontheadModal">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mensaje de confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 style="color:red;">¿Desea eliminar el personal, esto tambien eliminara al usuario asignado ?</h5>
                </div>
                <div class="modal-footer FontfooterModal">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" id="btnSiModal" v-on:Click="SiModal()">Si</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Gestionar Cuenta-->
    <div class="modal fade" id="GestionarCuentaModal"  data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header FontheadModal">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gestionar Cuenta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Ususario</label>
                                    <input type="text" id="txtUsuarioGC" class="form-control btnGuardarGestionarCuenta" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" id="txtPasswordGC" class="form-control btnGuardarGestionarCuenta" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <input type="password" id="txtConfirmPasswordGC" class="form-control btnGuardarGestionarCuenta" />
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer FontfooterModal">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btnGuardarGestionarCuenta" v-on:Click="GurdarGestionUsusario()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>

