
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF</title>
    <script src="~/Scripts/JSSICARO/ReportePDF.js"></script>
</head>
<body>
    <div id="PDF">
        
        @Html.Raw(ViewBag.html)
    </div>
</body>
</html>
