


/*body {
    background-color:black;
    background-image: url('../../Imagenes/fondoLogin.png');
}
label{
    color:white;
}

footer {
  background-color: #2B527B;
  position: absolute;
  bottom: 0; 
  width: 100%; 
  height: 40px; 
  color: white;
}*/


/* Made with love by Mutiullah Samim*/
body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}