
@{
    ViewBag.Title = "Index";
}

<div id="Proveedor">


    <div class="row">
        <div class="col-sm-12">
            <label class="label label-primary"> Proveedor</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tbTabla" class="display">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>RUC</th>
                        <th>Telefono</th>
                        <th>Nro Licencia Municipal</th>
                        <th>Nro Inspeccion Sanitaria</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</div>