@using SICARO.WEB.Models
@{
    ViewBag.Title = "Home Page";
    var usuario = SesionUsuario.Usuario;
}
@if (@usuario != null)
{
    <br /><br />
    
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/fonts/Logos/digesa1.jpg" alt="Los Angeles" style="width:100%;height:500px;">
                </div>

                <div class="item">
                    <img src="~/fonts/Logos/digesa2.jpg" alt="Chicago" style="width:100%;height:500px;">
                </div>

                <div class="item">
                    <img src="~/fonts/Logos/digesa3.jpg" alt="New york" style="width:100%;height:500px;">
                </div>

                <div class="item">
                    <img src="~/fonts/Logos/digesa4.jpg" alt="New york" style="width:100%;height:500px;">
                </div>

                <div class="item">
                    <img src="~/fonts/Logos/digesa5.jpg" alt="New york" style="width:100%;height:500px;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


}
else
{
    Html.RenderPartial("~/Views/Utilitarios/Desconeccion.cshtml");
}
<script type="text/javascript">





    //$(document).ready(function () {

    //    var dataSet = [
    //    {"Name":"Tiger Nixon", "Position":"System Architect", "Office":"Edinburgh", "Extn.":"5421", "Start date":"2011/04/25", "Salary":"$320,800"},
    //    ];

    //    $('#example').DataTable({
    //        data: dataSet,
    //        columns: [
    //            { title: "Name" },
    //            { title: "Position" },
    //            { title: "Office" },
    //            { title: "Extn." },
    //            { title: "Start date" },
    //            { title: "Salary" }
    //        ],
    //        columnDefs: [
    //            {
    //                "targets": -1,
    //                "data": null,
    //                "defaultContent": "<button>Click!</button>"
    //            }
    //        ]
    //    });
    //});
</script>
