

<br /><br />
<ul class="nav navbar-right top-nav" id="menu">
    <span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in fa-stack-1x " style="color:#999999"></i></span>
    @Html.ActionLink("Iniciar Sesión", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
</ul>