

<div class="row ">
    <div class="col-sm-6">
        <div class="form-group ">
            <label for="cboTipoDocumentoModal">Tipo Documento</label>
            <select id="cboTipoDocumentoModal" v-model="selectedDocumento" class="form-control Obligatorio btnGuardarModal TipoDocumentoModal">
                <option value="0">Seleccione</option>
                <option v-for="lista in dTipoDocumento"  v-bind:value="lista.co_codigo" > {{ lista.de_tabla }}</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group ">
            <label for="txtNroDocumentoModal">Nº Documento</label>
            <input id="txtNroDocumentoModal" type="text" class="form-control Obligatorio btnGuardarModal EvaluarDocumentoModal" maxlength="15" />
        </div>
    </div>
</div>
